* {
    margin: 0;
    padding: 0;
}

footer {
    background: grey;
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    color: white;
}

#footer_document {
    margin-top: 170px;
    margin-left: 20px;
    font-size: 25px;
    position: absolute;
}