.header-block:nth-child(1){
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-color: #000;

}
.grid-block{
    margin-top: 0;
}
.menu-block{
    display: inline-block;
    width: 400px;
}