.body{
    display: flex;
    margin-top: 30px;
}
.menu_body{
    flex: 1;
}
.content{
    flex: 5;
    text-align: center;
}
.menu_body{
    background-color: aqua;
   border-radius: 25px;
}
.menu_body li{
    list-style-type: none;
    margin: 10px;
}
.menu_body li a{
    text-decoration: none;
    color: black;
}
.menu_body li a:hover{
    color: red;
}