.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4692ff;
    padding-right: 30px;
    padding-left: 30px;
}
.header_menu ul{
    display: flex;
}
.header_menu ul li{
    list-style-type: none;
    margin: 10px;
}
.header_menu ul li a{
    text-decoration: none;
    color: white;
}
.header_menu ul li a:hover{
    color: red;
}
button:hover{
    color: red;
    cursor: pointer;
}