
.menu li {
    list-style-type: none;
    display: inline;

}
.menu a {

    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    /*отменяет подчеркивание*/
    padding: 10px 15px;
    line-height: 51px;
    align-items: center;
    margin: 0 10px;
    color: white;

}
.menuClass {
    margin-left: 750px;
    margin-right: 20px;
    margin-top: 60px;
}

.menu-big li a {
    font-size: 16px;


}

.menu-small li a {
    font-size: 16px;
}