.header {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(134, 147, 224);
    font-size: 25px;
    padding: 20px;
}

.header .welcome {
    padding-bottom: 20px;
    font-weight: 900;
    text-align: center;
}