body {
  font-family: Arial, serif;
  font-size: 20px;
  margin: 10px 0;
  color: #68666b;
}

.name {
  margin: 10px 10px;

}

.click {
  margin: 10px;
  padding: 10px;
  border: 2px solid #68666b;
  color: #68666b;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
}
.click:hover {
  cursor: pointer;
}

.date {
  margin: 10px;
  padding: 10px;
}