nav {
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: white;
}
.nav_item {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
}
li {
  list-style-type: none;
}
.activNav > a {
  color: goldenrod;
  text-decoration: underline;
}